<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" placeholder="Enter Your Name" name="username" formControlName="username" >
    <br>
    <span style="color: red;" *ngIf="username && username.invalid && username.touched">This field is not valid</span><br>
    <input type="text" placeholder="Enter Your Age" name="age" formControlName="age">
    <br><br>
    <input type="text" placeholder="Enter Your Contact number" name="contactnumber" formControlName="contactnumber">
    <br><br>
    <input type="text" placeholder="Enter Your Education" name="education" formControlName="education">
    <br><br>
    <button [disabled]= "loginForm.invalid" >Submit</button>
</form>