<div>
    
    <div class="mainhead">
        <img src="https://images.app.goo.gl/sLp6t9CXBWNmudWt9" style="height: 150px;">
        <div >
            <ul>
                <li>Personal</li>
                <li>Corporates</li> |
                <li>Advisor</li>
            </ul>
        </div>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/main">Main</a></li>
            <li><a routerLink="/about-us"> about-us </a></li>
            <li><a routerLink="/sign-in">Sign In</a></li>
            <li><a routerLink="/sign-up">Sign Up</a></li>
        </ul>
    </div>
    <div></div>
</div>
