.footground{
    background-color: darkgray;
    color: white;
    text-align: justify;
    padding: 30px;
    

}
.p{
    float: right;
    float: left 75%;
    text-align: center;
}
.nav {
    display: inline-block;
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  