<div class="footground">
    <div class="nav">
        <ul >
            <li>About Us</li>
            <li>Careers</li>
            <li>Customer Services</li>
        </ul>
        <ul>
            <li>Our Solutions</li>
            <li>Investor Relations</li>
            <li>Press and Media</li>
        </ul>
        <ul>
            <li>Our Business</li>
            <li>Our Achivement</li>
            <li>CSR and Sustanibility</li>
        </ul>
        <ul>
            <li>Locat Us</li>
            <li>Private Policy</li>
            <li>Terms and Condition</li>
        </ul>
    </div>
    <hr>
    <span>© 2020, Aditya Birla Capital Ltd. All Rights Reserved.</span>
    <p class="p">Call us toll free: 1800-270-7000</p>
    <mat-icon>facebook</mat-icon>
    <mat-icon>linkedin</mat-icon>
    <mat-icon>twitter</mat-icon>
    <mat-icon>you tube</mat-icon>


    <!-- <p><a href="https://www.facebook.com">
            <img src="https://images.app.goo.gl/n3vyi1GVEQBHbYov7" width="40px" height="50px"></a>
    </p>
    <p><a href="https://www.instagam.com ">
            <img src="https://images.app.goo.gl/esh4CTWVfmnV57Qo9" height="50px" width="40px"></a>
    </p>

    <p><a href="http://www.linkedin.com">
            <img src="https://images.app.goo.gl/3UrBNQkPmVGZErwe6" height="50px" width="40px"> </a>
    </p>
    <p><a href="https://www.youtube.com">
            <img src="https://images.app.goo.gl/1pLgRm4DGw8TevQz6" height="50px" width="40px"></a>
    </p>
    <p>
        <a></a> -->
    <!-- </p> -->

</div>