<h1>About School</h1>
<form [formGroup]="logForm" (ngSubmit)="logUser()">
    <input type="text" placeholder="Enter School Name" name="schoolname" formControlName="schoolname">
    <br><br>
    <input type="text" placeholder="Enter School Password*" name="schoolpassward" formControlName="schoolpassward">
    <br>
    <span class="warning" *ngIf="schoolpassward && schoolpassward.invalid && schoolpassward.touched">Please Enter The Required Field </span>
    <br>
    <input type="text" placeholder="Enter School Shape* " name="schoolshape" formControlName="schoolshape">
    <br>
    <span class="warning" *ngIf="schoolshape && schoolshape.invalid && schoolshape.touched">Please Enter The Required Field</span>
    <br>
    <input type="text" placeholder="Enter School Email*" name="schoolemail" formControlName="schoolemail">
    <br>
    <span class="warning" *ngIf="schoolemail && schoolemail.invalid && schoolemail.touched">Please Enter The Required Field</span>
    <br>
    <button [disabled]="logForm.invalid">Submit</button>
</form>


<h2>Money Solutions for all your needs, throughout your life.</h2>